# Dependencies
node_modules/
package-lock.json

# Build artifacts
dist/
build/
out/
tsconfig.tsbuildinfo

# Vite
.vite/
.next/
coverage/

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log

# IDEs and editors
.idea/
.vscode/
